<%- include("./partials/Head")  %> 
<%- include("./partials/messages")  %> 

<form action="addpost" method="post" enctype="multipart/form-data">
    <input type="text" name="title" placeholder="Please Enter title here">
    <textarea name="content"  cols="30" rows="10"></textarea>
    <input name ="image" type="file">
    <button class="btn btn-success"> add your Post</button>
</form>
<%- include("./partials/footer") %> 
