<html>
    <head>
        <meta charset='utf-8'>
        <meta name='viewport' content='width=device-width, initial-scale=1'>
        <title><%= title %> </title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <link href='https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css' rel='stylesheet'>
        <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap" rel="stylesheet">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css" rel="stylesheet">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
    integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf"
    crossorigin="anonymous">
        <link rel="stylesheet" href="../public/css/infulancer.css">
        <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
    </head>
<body>

    <nav class="navbar navbar-expand-lg navbar-light bg-dark text-light topnav">
        <div class="container-fluid ">
          <a class="navbar-brand text-light" href="#">Navbar</a>
          <button class="navbar-toggler text-light " type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav text-light ">
              <a class="nav-link active text-light" aria-current="page" href="#">Home</a>
              <a class="nav-link text-light" href="#">Features</a>
              <a class="nav-link text-light" href="#">Pricing</a>
              <a class="nav-link text-light" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
            </div>
          </div>
        </div>
      </nav>
      <div class="navbottom row pt-3">
          <div class="col-3"></div>
          <div class="col-6">
            <p class="adminjob">spaceX and tesla owner</p>
            <p class="h2">Elon Musk</p>
          </div>
      </div>
      <div class="row pt-4">
          <div class="col  me-4">
              <div class="navbottom links d-flex justify-content-end"></div>
          </div>
          <div class="col-6 navbottom main"></div>
          <div class="col navbottom ms-4 external"></div>
      </div>
</body>
</html>