body{
    background-color: #EDEEF0;
}
.topnav{
    height: 35px;
}
.navbottom{
    height: 100px;
    background-color: #ffffff;
}
.adminjob{
    margin-bottom: 10px;
}
.links{
    width: 50px;
    
}
.main{

}
.external{

}